*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    height: 75vh;
    width: 100%;
    background-image: url(../assets/imagenes/banner-bk.jpg);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

#logo{
    width: 100%;
    height: 30%;
    color: #ffffff;
    display: flex;
    justify-content:space-between;
    flex-direction: reverse;
    align-items: center;


}

#logo1Header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-terciario);
}

#logoHeader2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 5%;
    height: 100px;
    width: 100px;
}

.containerHeader{
    width: 50%;
    height: 100%;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 4% 5% ;
}

#h1Header{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#textoHeader{
    padding: 5% 0px;
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-principal: #00ee9f;
    --color-secundario: #000000;
    --color-terciario: #ffffff;
    --color-cuarto: #00113f;

}

#btnHeader{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color:var(--color-principal);
    color: #000000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.section1-2{
	padding: 3% 10px;
	display: flex;
	flex-direction: column;
}

#imgs-div{
	display: flex;
	justify-content: space-around;
}

#imgs2{
    height: 200px;
	width: 200px;
}

.titles-sect1-2{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#html_word,#css_word,#brush_word{
	display: flex;
	font-size: 20px;
	width: 427.489px;
	padding: 20px 10px;
	justify-content: center;
}

.lorem-sect1-2{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

#titleNav{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

main{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/imagenes/fondo\ seccion\ 2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

#secion1-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}

h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#botonsec1{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color:var(--color-cuarto);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    cursor: pointer;
}

.section2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 100px 0px;
}

#seccion2-h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.containerSec2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 50px;
    width: 100%;
    height: 100%;
}

#sec2Tex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#sec2Tex1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 28px 90px;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#sec2TexN{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 80px;
    font-size: 20px;
    font-weight: 400;
    background-color: #1c2841;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#botonSec2{

    color: black; 
    padding: 7px 7px; 
    cursor: pointer; 
    border-radius: 20px;
    border: none;
    background-color: white;
    border: 2px solid #000000; 
}

.section3{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width:100% ;
    height: 30vh;
    position: sticky;
    bottom: 5px;
}

.section4{
    height: 60vh;
    width: 100%;
    background-image: url(../assets/imagenes/contact-bk.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    border-color: #00ee9f;
    position: relative;
}

#photo1 {
    position: absolute;
    top: -120px;
    left: 750px;

}
#section5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputText{
    display: flex;
    flex-direction: column;
    width: 47%;
    border-radius: 100%;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #00ee9f;
    border-color: #00ee9f;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    margin: 10px 90px;
}

.message{
    display: flex;
    flex-direction: column;
}

#btn-sec4{

    color:#000000;
    padding: 15px 175px; 
    cursor: pointer;
    border-radius: 100px;
    border:#00ee9f;
    background-color:#00ee9f;
}

.contac-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    color: #ffffff;
    padding: 0% 50px;
    width: 50%;
    height: 100%;
    line-height: 30px;
}

.contac-div h2 {
    font-size: 60px;
    line-height: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: 10vh;
    width: 100%;
    background-color: #1c2841;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Acceso-redes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 1279px) {
    .containerHeader{
        width: 40%;
        height: 110%;
        color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 4% 5% ;
    
    }
    header{
        height: auto;
    }
    #h1Header{
        font-size: 50px;
        font-weight: 500;
    }

    #textoHeader{
        padding: 3% 0px;
        font-size: 15px;
        font-weight: 150;
    }

    #btnHeader{
        padding: 0.5% 5px;
        width: 170px;
        height: 40px;
        font-size: 23px;
    }

    h1{
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contac-div{
        padding: 0% 30px;
        width: 50%;
        height: 100%;
    }

    .containerSec2{
        justify-content: space-around;
    }

    #sec2Tex{
        padding: 10px 50px;
    }
    
    #sec2TexN{
        padding: 20px 50px;
    }
}

@media screen and (max-width: 920px) {
    .logo {
        margin: 5%;
    }

    .containerSec2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
    height: 80%;
    }   
    #sec2Tex{
        padding: 6px 35px;
    }

    #sec2Tex1{
        padding: 25px 40px;
    }

    #sec2TexN{
        padding: 20px 25px;
        font-size: 20px;
    }

    .contac-div{
        padding: 0% 10px;
        font-size: 8px;
        width: 50%;
    }

    .contac-div p{
        font-size: 14px;
        line-height: 15px;
    }

    .contac-div h2 {
        font-size: 30px;
    }

    .inputs {
    width: 50%;
    }
    
    #image{
        width: 40%;
        height: auto;
    }

    .section3{
        background-color: #f8f8f8;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100% ;
        height: 20vh;
    }

    #clientes{
        width: 15%;
        height: auto;
    }
    
    #sect2 {
        font-size: 17px;
    }
}
@media screen and (max-width: 768px) { 
    header{
        height: 80vh;
        width: auto;
        background-image: url(../assets/imagenes/banner-bk.jpg);
    }

    #h1Header {
        font-size: 35px;
    }

    #textoHeader {
        font-size: 15px;
    }

    #sec2Tex{
        padding: 6px 7px;
        font-size: 15px;
    }

    #sec2Tex1{
        padding: 25px 7px;
        font-size: 15px;
    }

    #sec2TexN{
        padding: 20px 7px;
        font-size: 15px;
    }

    #btnHeader{
        width: 140px;
        height: 30px;
        border-radius: 50px;
        font-size: 15px;
    }

    #botonSec2{
        width: 110px;
        padding: 5px 5px; 
        border-radius: 20px;
        border: 2px solid #000000; 
    }

    #titleNav {
        font-size: 28px;
    }
    #secion1-div{
        width: 60%;
        height: 100%;
        font-size: 15px;
    }
    #secion1-div h1 {
        font-size: 28px;
    }

    #secion1-div p {
        font-size: 15px;
    }

    #botonsec1 {
        width: 120px;
    }
    #image {
        width: 130px;
        height: auto;
    }

    #medium {
        width: 140px;
        height: auto;
    }

    #imgs2 {
        width: 150px;
        height: auto;
    }

    #btn-sec4{
        width: 70px;
        padding: 10px  50px;
        font-size: 15px;
    }

    .contac-div{
        padding: 0% 10px;
        font-size: 8px;
        width: 50%;
    }
    .inputs {
        width: 50%;
        }

    #footer p {
        font-size:20px ;
    }
}
@media screen and (max-width: 480px) { 
    #logoHeader2 {
        width: 70px;
    
    }
    
    #h1Header {
        font-size: 15px;
    }
    #textoHeader {
        font-size: 10px;
    }

    #sec2Tex{
        padding: 20px 5px;
        font-size: 13px;
        width: 80px;
    }

    #botonSec2 {
        width: 50px;
    }

    #sec2Tex h4 {
        font-size: 10px;
    }

    #sec2Tex1{
        padding: 20px 5px;
        font-size: 15px;
        width: 125px;
    }

    #sec2Tex1 h4{
        font-size: 10px;
    }

    #sec2Tex1 h2{
        font-size: 20px;
    }

    #sec2TexN{
        padding: 20px 5px;
        font-size: 15px;
        width: 115px;
    }

    #sec2TexN h2{
        font-size: 20px;
    }

    #btnHeader {
        width: 70px;
    }

    #sec2TexN{
        font-size: 10px;
    }

    #medium {
        width: 90px;
    }

    #seccion2-h1 {
        font-size: 30px;
    }
    #imgs2 {
        height: 140px;
        width: 120px;
    }

    #sect2{
        font-size: 12px;
    }

    #html_word {
        font-size: 15px;
    }

    #css_word {
        font-size: 15px;
    }

    #brush_word {
        font-size: 16px;
    }

}